@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    overflow-x: hidden;
}

* {
    scrollbar-width: auto;
    scrollbar-color: #afb2bf;
    background-size: cover;
    background-attachment: fixed;
  }

.bg-img{
    /* background-image: url(./assets/background1.jpg); */
    background-size: cover;
    background-attachment: fixed;
    background-size: cover;
    /* background-blend-mode: lighten; */
}