.enlarge{
    backdrop-filter: blur(5px);
    z-index: 1000;
    position: absolute;
}
.popup {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 1001;
  }
  .close-popup {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
  }