*{
    margin: 0;
    box-sizing: border-box;
}

.navbar{
    height: 100%;
    min-width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-logo{
    padding: 1rem 2rem;
}
.nav-item{
    margin: 0 3px;
    font-size: large;
    font-weight: 500;
    text-decoration: none;
    color: black;
    transition: 0.2s;
    &:not(.nav-logo):hover{
        background-color: rgba(245, 133, 133, 0.6);
        box-shadow: 0 2px 7px rgb(8, 7, 7);     
    }
}
.nav-btn{
    cursor: pointer;
    border-radius: 20px;
    padding: 10px 20px;
}
#nav-logout{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-links{
    /* min-width:90%; */
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: space-between; */
    margin: 0;
    /* padding: 10px 10px 10px 12px; */
    /* position: relative; */
    border-radius: 20px;
    /* gap: 3px; */
    border: none;
    background-color: rgb(248, 207, 130);
    box-shadow: 0 2px 7px rgb(41, 41, 41);
}